<div *ngIf="currentArticle.id">
   <span class="text-danger"
         *ngIf="(currentUserId == currentArticle.userId)||isAdmin||isModerator">
         <mat-card-actions>
  <button class="btn btn-primary" (click)="editArticle(currentArticle.id)" type="button">
    Edit
  </button>
    </mat-card-actions>

     </span>

  <mat-card class="example-card">
    <mat-card-header>
      <div class="card-footer text-muted">
        <h1>
      {{ currentArticle.title }}
      </h1>
      </div>
    </mat-card-header>
    <ul>
      <li *ngFor="let file of currentArticle.filesUrl">
        <img mat-card-image src="{{file}}"/>
      </li>
    </ul>
    <mat-card-content>
      <p>
        {{ currentArticle.text}}
      </p>
    </mat-card-content>
  </mat-card>
</div>

