<div *ngIf="currentArticle.id">

   <span class="text-danger"
         *ngIf="(currentUserId == currentArticle.userId)||isAdmin||isModerator">
  <button class="btn btn-primary" (click)="editArticle(currentArticle.id)" type="button">
    Edit

  </button>
     </span>
<!--  <div class="row" data-ng-repeat="row in imageDataUrls" >-->
<!--    <div class="col-sm-3" data-ng-repeat="imageDataUrl in row" >-->
<!--      <img alt="img" class="img-responsive smaller" data-ng-src="{{imageDataUrl.url}}" />-->
<!--    </div>-->
<!--  </div>-->
  <h4>{{ currentArticle.title }}</h4>
  <div>
    {{ currentArticle.text}}
  </div>
  <div class="row" data-ng-repeat="row in imageDataUrls">
    <div class="col-sm-3" data-ng-repeat="imageDataUrl in row">
      <ul>
        <li *ngFor="let file of currentArticle.filesUrl">
          <img alt="img" class="img-responsive smaller" src="{{file}}"/>
        </li>
      </ul>
    </div>
  </div>
</div>

