<div *ngIf="viewMode; else editable">
  <div *ngIf="articleId">
    <h4>Article</h4>
    <div>
      <label><strong>Title:</strong></label>
      {{ currentArticleRequest.title }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentArticleRequest.description }}
    </div>
    <div>
      <label><strong>Tag:</strong></label>

      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let tag of currentArticleRequest.tags" (removed)="remove(tag)">
            {{tag.name}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="New fruit..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div>
      <label><strong>Text:</strong></label>
      {{ currentArticleRequest.text}}
    </div>

    <div>
      <label><strong>User name:</strong></label>
      {{ currentArticleRequest.username }}
    </div>
    <div>
      <label><strong>Published:</strong></label>
      {{ currentArticleRequest.published}}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/articles/{{ articleId}}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentArticleRequest">
    <br/>
    <p>Please click on a Article...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="articleId" class="edit-form">
    <h4>Article editor</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentArticleRequest.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentArticleRequest.description"
          name="description"
        />
      </div>
      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList >
          <mat-chip *ngFor="let tag of currentArticleRequest.tags" (removed)="remove(tag)">
           {{tag.name}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="New fruit..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
      <div class="form-group">
        <label for="text">Text</label>
        <input
          type="text"
          class="form-control"
          id="text"
          [(ngModel)]="currentArticleRequest.text"
          name="text"
        />
      </div>

      <div class="form-group"  *ngIf="(isAdmin||isModerator)">
        <label>
          <input type="checkbox" name="published"  [(ngModel)]="currentArticleRequest.published">
          Published
        </label>
      </div>
    </form>
    <button class="badge badge-danger mr-2" (click)="deleteArticle()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateArticle()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!articleId">
    <br/>
    <p>Cannot access this Article...</p>
  </div>
</ng-template>
