<div class="form-row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Articles List</h4>
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let article of articles; let i = index"
          [class.active]="i == currentIndex"
      >
        <div>
          <div class="m-2">
            <span>{{ article.title }}</span>
            <i>
              <ul>
                <li *ngFor="let tag of article.tags">{{ tag.name }}</li>
              </ul>
            </i>
            <div class="row" data-ng-repeat="row in imageDataUrls">
              <div class="col-sm-3" data-ng-repeat="imageDataUrl in row">
                <ul>
                  <li *ngFor="let file of article.filesUrl">
                    <img alt="img" class="img-responsive smaller" src="{{file}}"/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            {{ article.username }}
          </div>
          <button class="btn btn-primary" (click)="getTextInfo(article, i)" type="button">
            Info
          </button>
        </div>

        <div class="wrapper">
          <div class="item1">
            <button class="btn" (click)="gradeLike(article.id)">
              LIKE
            </button>
          </div>
          <div class="item3">
            <div *ngIf="article.meLiked; else templateName">
              <i class="fa-solid fa-heart"></i>
              {{ article.likes }}
            </div>
            <ng-template #templateName>
              <i class="fa-regular fa-heart"></i>
              {{ article.likes }}
            </ng-template>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
