<div class="col-md-8">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search by title"
      [(ngModel)]="title"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="searchTitle()"
      >
        Search
      </button>
    </div>
  </div>
</div>
<div class="col-md-6">
  <h4>Articles List</h4>
</div>
<div>

  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let article of articles; let i = index"
        [class.active]="i == currentIndex"
    >
      <mat-card class="example-card">
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="getTextInfo(article, i)" type="button">
            Info
          </button>
        </mat-card-actions>
        <mat-card-header>
          <mat-card-title>{{ article.title }}</mat-card-title>
          <mat-card-subtitle>
            <mat-chip-list>
              <mat-chip *ngFor="let tag of article.tags">{{ tag.name }}</mat-chip>
            </mat-chip-list>
          </mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="article.filesUrl!=null" mat-card-image src="{{article.filesUrl[0]}}"/>
        <mat-card-content>
          <p>
            {{ (article.text.length > 180) ? (article.text | slice:0:180) + '...' : (article.text) }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div *ngIf="article.meLiked; else templateName">
            <button mat-icon-button color="warn" (click)="gradeLike(article.id)">
              <mat-icon>favorite</mat-icon>
              {{ article.likes }}
            </button>
          </div>
          <ng-template #templateName>
            <button mat-icon-button (click)="gradeLike(article.id)">
              <mat-icon>favorite</mat-icon>
              {{ article.likes }}
            </button>
          </ng-template>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>

