<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Articles List</h4>
    <ul class="list-group">


      <li class="list-group-item"
          *ngFor="let article of articles; let i = index"
          [class.active]="i == currentIndex"
      >
        <button class="btn btn-primary" (click)="setActiveArticle(article, i)" type="button">
          Info
        </button>
        <div class="col-md-9">
          {{ article.title }}
        </div>


        <div class="buttons">
          <button
            class="btn btn-primary"
            type="button"
            (click)="searchTitle()"
          >
            like
          </button>
        </div>
      </li>


    </ul>
  </div>
  <div class="col-md-6">
    <app-article-details
      [viewMode]="true"
      [currentArticle]="currentArticle"
    ></app-article-details>
  </div>
</div>
