.list {
  text-align: center;
  max-width: 750px;
  margin: auto;
}

body {
  text-align: center;
  margin-top: 30px;
  background: #96B4F2;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 2px;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d";
  align-items: start;
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

.item4 {
  grid-area: d;
}

.smaller {
  width: 80%;
}

.menu ul {
  display: flex;
  justify-content: space-between; /* or justify-content: space-around; */
  align-items: center;
}

.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

